Docker/data/nodered/.flows.json.backup
[{"id":"ccd5d09f.f9b77","type":"tab","label":"From MQTT -> MongoDB","disabled":false,"info":"This flow read CarPosition from MQTT brocker \nand store it on MongoDB "},{"id":"14a23a54.00627e","type":"tab","label":"Simulate Message","disabled":false,"info":"This flow has the role of simulating messages Mobile -> MQTT Broker"},{"id":"507faa0d.1e3f3c","type":"mqtt-broker","z":"","name":"LocalMosquitto","broker":"192.168.56.102","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ecaeb367.2b9f6","type":"mongodb","z":"","hostname":"192.168.56.102","port":"27017","db":"CARS_DATA","name":""},{"id":"5f7fd992.481a88","type":"debug","z":"ccd5d09f.f9b77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":200,"wires":[]},{"id":"71648bbd.f07f5c","type":"mqtt in","z":"ccd5d09f.f9b77","name":"car-locations","topic":"carLocations","qos":"2","broker":"507faa0d.1e3f3c","x":170,"y":80,"wires":[["facef5c2.a65838"]]},{"id":"a77d462f.dc5588","type":"mongodb out","z":"ccd5d09f.f9b77","mongodb":"ecaeb367.2b9f6","name":"","collection":"cars","payonly":true,"upsert":false,"multi":false,"operation":"store","x":700,"y":80,"wires":[]},{"id":"facef5c2.a65838","type":"function","z":"ccd5d09f.f9b77","name":"addCurrentTime","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.readTime = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["a77d462f.dc5588","5f7fd992.481a88"]]},{"id":"5761bf44.8e421","type":"mqtt out","z":"14a23a54.00627e","name":"","topic":"carLocations","qos":"","retain":"","broker":"507faa0d.1e3f3c","x":650,"y":100,"wires":[]},{"id":"8efbc454.0b3e","type":"inject","z":"14a23a54.00627e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["58154746.4d2b08"]]},{"id":"46ae099c.267b5","type":"catch","z":"ccd5d09f.f9b77","name":"","scope":null,"x":560,"y":300,"wires":[["ebbdf39f.a299f8"]]},{"id":"ebbdf39f.a299f8","type":"debug","z":"ccd5d09f.f9b77","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":770,"y":300,"wires":[]},{"id":"58154746.4d2b08","type":"template","z":"14a23a54.00627e","name":"MakeReportObject","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"reportTime\" : \"{{payload}}\",\n  \"carRegistration\":\"AABB333\",\n  \"carPosition\" :{\n    \"latitude\" : \"45.1666700\",\n    \"longitude\" : \"5.7166700\"\n  },\n  \"engineStopped\" : true\n}","output":"json","x":390,"y":100,"wires":[["5761bf44.8e421"]]}]