Docker/data/nodered/flows.json
[{"id":"987799c4.86e45","type":"tab","label":"Mobile -> MongoDB","disabled":false,"info":""},{"id":"b801874a.9114d8","type":"tab","label":"Business logic","disabled":false,"info":""},{"id":"bb5d6ee0.cda8b8","type":"tab","label":"Transaction blockchaine","disabled":false,"info":""},{"id":"a1bf5f04.a70c3","type":"tab","label":"Find Position DB","disabled":false,"info":"This flow has the role to find 2D point position in mongoDB database\n"},{"id":"14a23a54.00627e","type":"tab","label":"Simulate Message","disabled":false,"info":"This flow has the role of simulating messages Mobile -> MQTT Broker"},{"id":"507faa0d.1e3f3c","type":"mqtt-broker","z":"","name":"LocalMosquitto","broker":"192.168.56.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ecaeb367.2b9f6","type":"mongodb","z":"","hostname":"192.168.56.101","port":"27017","db":"CARS_DATA","name":""},{"id":"5761bf44.8e421","type":"mqtt out","z":"14a23a54.00627e","name":"","topic":"carLocations","qos":"","retain":"","broker":"507faa0d.1e3f3c","x":690,"y":120,"wires":[]},{"id":"8efbc454.0b3e","type":"inject","z":"14a23a54.00627e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["58154746.4d2b08"]]},{"id":"58154746.4d2b08","type":"template","z":"14a23a54.00627e","name":"MakeReportObject","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"reportTime\" : \"{{payload}}\",\n  \"carRegistration\":\"AABB333\",\n  \"carPosition\" :{\n    \"latitude\" : \"45.1666700\",\n    \"longitude\" : \"5.7166700\"\n  },\n  \"engineStopped\" : true\n}","output":"json","x":430,"y":120,"wires":[["5761bf44.8e421"]]},{"id":"e7074776.590218","type":"http in","z":"987799c4.86e45","name":"acceptOBDData","url":"obd","method":"post","upload":false,"swaggerDoc":"","x":240,"y":140,"wires":[["c06b567e.1c8038","5a3c9c90.aa134c","4e6d7853.96cc5"]]},{"id":"c06b567e.1c8038","type":"debug","z":"987799c4.86e45","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":80,"wires":[]},{"id":"bef1c2ab.37a798","type":"http response","z":"987799c4.86e45","name":"","statusCode":"","headers":{},"x":810,"y":140,"wires":[]},{"id":"5a3c9c90.aa134c","type":"template","z":"987799c4.86e45","name":"Forge Http response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"status\" : \"OK\"\n}","output":"json","x":580,"y":140,"wires":[["bef1c2ab.37a798"]]},{"id":"4e6d7853.96cc5","type":"mqtt out","z":"987799c4.86e45","name":"","topic":"carLocations","qos":"","retain":"","broker":"507faa0d.1e3f3c","x":550,"y":200,"wires":[]},{"id":"823877c2.699778","type":"template","z":"b801874a.9114d8","name":"findCarsToProcessQuery","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n  {\n    \"$match\": {\n      \"$expr\": {\n        \"$not\": {\n          \"$eq\": [\n            \"$readings.speed\",\n            \"0\"\n          ]\n        }\n      }\n    }\n  },\n  {\n    \"$lookup\": {\n      \"from\": \"cars\",\n      \"let\": {\n        \"carId\": \"$carId\",\n        \"objectId\": \"$_id\",\n        \"readings\": \"$readings\"\n      },\n      \"pipeline\": [\n        {\n          \"$match\": {\n            \"$expr\": {\n              \"$and\": [\n                {\n                  \"$eq\": [\n                    \"$carId\",\n                    \"$$carId\"\n                  ]\n                },\n                {\n                  \"$not\": {\n                    \"$eq\": [\n                      \"$_id\",\n                      \"$$objectId\"\n                    ]\n                  }\n                }\n              ]\n            }\n          }\n        }\n      ],\n      \"as\": \"startInformations\"\n    }\n  },\n  {\n    \"$match\": {\n      \"startInformations.0\": {\n        \"$exists\": true\n      }\n    }\n  }\n]","output":"json","x":490,"y":160,"wires":[["db8e3f96.499cb8"]]},{"id":"db8e3f96.499cb8","type":"mongodb in","z":"b801874a.9114d8","mongodb":"ecaeb367.2b9f6","name":"findCarsToProcess","collection":"cars","operation":"aggregate","x":830,"y":160,"wires":[["3c1b2b5d.a00734","1fcccf2.9e125b1"]]},{"id":"690ba98a.0577c","type":"inject","z":"b801874a.9114d8","name":"Time Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["823877c2.699778"]]},{"id":"4e917f26.c6e03","type":"comment","z":"987799c4.86e45","name":"Convertir les flux HTTP en MQTT","info":"Convertir les flux HTTP en MQTT","x":180,"y":100,"wires":[]},{"id":"f05a765c.dcf5","type":"debug","z":"987799c4.86e45","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":540,"wires":[]},{"id":"8f8c47ac.c6de4","type":"mqtt in","z":"987799c4.86e45","name":"car-locations","topic":"carLocations","qos":"2","broker":"507faa0d.1e3f3c","x":190,"y":420,"wires":[["4938aaf9.72528c"]]},{"id":"94f6f980.bc4128","type":"mongodb out","z":"987799c4.86e45","mongodb":"ecaeb367.2b9f6","name":"","collection":"cars","payonly":true,"upsert":false,"multi":false,"operation":"store","x":720,"y":420,"wires":[]},{"id":"4938aaf9.72528c","type":"function","z":"987799c4.86e45","name":"addCurrentTime","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.readTime = Date.now();\nmsg.payload.processed = false;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["94f6f980.bc4128","f05a765c.dcf5"]]},{"id":"7456478a.7532b8","type":"catch","z":"987799c4.86e45","name":"","scope":null,"x":580,"y":640,"wires":[["a5a7626e.8b6cc"]]},{"id":"a5a7626e.8b6cc","type":"debug","z":"987799c4.86e45","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":790,"y":640,"wires":[]},{"id":"eeccfc9e.c290d8","type":"comment","z":"987799c4.86e45","name":"Insérer les données de MQTT dans MongoDB","info":"Insérer les données de MQTT dans MongoDB","x":300,"y":380,"wires":[]},{"id":"7d774f63.ffeb6","type":"split","z":"b801874a.9114d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":380,"wires":[["12971e0f.061682"]]},{"id":"2635e606.f4a792","type":"mongodb in","z":"b801874a.9114d8","mongodb":"ecaeb367.2b9f6","name":"Find Parkings","collection":"parkings","operation":"find","x":860,"y":380,"wires":[["bc65e5a0.abf368","62f4ed61.bba5dc"]]},{"id":"dc452c98.c801a","type":"template","z":"b801874a.9114d8","name":"Find Parkings Query","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"location\": {\n     \"$geoIntersects\": {\n        \"$geometry\": {\n           \"type\": \"Point\" ,\n           \"coordinates\": [{{payload.longitude}} , {{payload.latitude}}]\n        }\n     }\n  }\n}","output":"json","x":640,"y":380,"wires":[["2635e606.f4a792"]]},{"id":"bc65e5a0.abf368","type":"debug","z":"b801874a.9114d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":300,"wires":[]},{"id":"3c1b2b5d.a00734","type":"link out","z":"b801874a.9114d8","name":"","links":["6d51dda9.054614"],"x":1055,"y":160,"wires":[]},{"id":"6d51dda9.054614","type":"link in","z":"b801874a.9114d8","name":"rechercheInfoParkingIn","links":["3c1b2b5d.a00734"],"x":95,"y":380,"wires":[["7d774f63.ffeb6"]]},{"id":"12971e0f.061682","type":"function","z":"b801874a.9114d8","name":"Set location in pipeline","func":"msg.car = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["dc452c98.c801a"]]},{"id":"488ed425.fad40c","type":"comment","z":"b801874a.9114d8","name":"Checker s'il y'a des voitures à traitée","info":"","x":230,"y":100,"wires":[]},{"id":"36d75ee2.a86b02","type":"comment","z":"b801874a.9114d8","name":"Pour chaque voiture chercher le parking","info":"","x":240,"y":340,"wires":[]},{"id":"1fcccf2.9e125b1","type":"debug","z":"b801874a.9114d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":100,"wires":[]},{"id":"62f4ed61.bba5dc","type":"link out","z":"b801874a.9114d8","name":"rechercheInfoParkingOut","links":["3a9772da.0088d6"],"x":1055,"y":380,"wires":[]},{"id":"8be5b1fc.4d0808","type":"function","z":"b801874a.9114d8","name":"Set parking in pipeline","func":"// Check is this car is on a parking on DB\nmsg.parkingFound = false ;\n\nif (msg.payload.length > 0) {\n    msg.parking = msg.payload[0]\n    msg.parkingFound = true ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":600,"wires":[["e9a5d678.bbe82"]]},{"id":"3a9772da.0088d6","type":"link in","z":"b801874a.9114d8","name":"calculeDePrixIn","links":["62f4ed61.bba5dc"],"x":75,"y":600,"wires":[["8be5b1fc.4d0808"]]},{"id":"d99f59ac.b40f4","type":"function","z":"b801874a.9114d8","name":"Calculate parking duration","func":"// Calculate parking Time\n\nfunction calculateParkingDuration(parkingTime , livingTime) {\n    let  difference = Math.abs(parkingTime - livingTime);\n    var hoursDifference = Math.floor(difference/1000/60/60);\n    \n    difference -= hoursDifference*1000*60*60\n    var minutesDifference = Math.floor(difference/1000/60);\n    \n    difference -= minutesDifference*1000*60\n    var secondsDifference = Math.floor(difference/1000);\n    \n    var estimatedTime = minutesDifference > 0 ? hoursDifference + 1 : hoursDifference ;\n    \n    return {estimatedTime : estimatedTime ,\n        hours : hoursDifference,\n        minutes : minutesDifference,\n        seconds : secondsDifference\n    }\n}\n\nlet timeDuration = Math.abs(msg.car.readTime - msg.car.startInformations[0].readTime)\n\nmsg.invoice = {};\n\nlet parkingDuration = calculateParkingDuration(msg.car.readTime , msg.car.startInformations[0].readTime);\n\nmsg.invoice.parkingDuration = parkingDuration.estimatedTime;\nmsg.invoice.parkingDurationDetails = parkingDuration;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":540,"wires":[["6d4f8a33.833d54"]]},{"id":"6d4f8a33.833d54","type":"function","z":"b801874a.9114d8","name":"Calculate parking price","func":"const PRICE_OF_HOUR = 0.3 //euro ;\nmsg.invoice.parkingPrice = msg.invoice.parkingDuration * PRICE_OF_HOUR\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":580,"wires":[["530ecd97.6a869c","f69f5ed2.e280f"]]},{"id":"530ecd97.6a869c","type":"debug","z":"b801874a.9114d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"invoice","x":1250,"y":540,"wires":[]},{"id":"afd11b12.921638","type":"comment","z":"b801874a.9114d8","name":"Calculer le prix du parking","info":"","x":171,"y":552,"wires":[]},{"id":"f69f5ed2.e280f","type":"link out","z":"b801874a.9114d8","name":"calculeDePrixOut","links":["905a6c09.d59ad"],"x":1195,"y":620,"wires":[]},{"id":"905a6c09.d59ad","type":"link in","z":"b801874a.9114d8","name":"","links":["f69f5ed2.e280f"],"x":75,"y":780,"wires":[["1cbb5985.6b348e"]]},{"id":"1cbb5985.6b348e","type":"function","z":"b801874a.9114d8","name":"Forge invoice","func":"msg.invoice.carPlace = msg.car\nmsg.invoice.parkingId = msg.parking._id\n\nmsg.payload = msg.invoice\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":780,"wires":[["4dfd7776.2ad408","f24726.c59d68d8"]]},{"id":"97843c79.83079","type":"comment","z":"b801874a.9114d8","name":"Entregistrer Facture","info":"","x":150,"y":740,"wires":[]},{"id":"4dfd7776.2ad408","type":"debug","z":"b801874a.9114d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":860,"wires":[]},{"id":"e9a5d678.bbe82","type":"switch","z":"b801874a.9114d8","name":"Parking Found","property":"parkingFound","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":600,"wires":[["d99f59ac.b40f4"],["bc269fc3.9f32b8"]]},{"id":"bc269fc3.9f32b8","type":"debug","z":"b801874a.9114d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":660,"wires":[]},{"id":"f24726.c59d68d8","type":"mongodb out","z":"b801874a.9114d8","mongodb":"ecaeb367.2b9f6","name":"","collection":"invoices","payonly":true,"upsert":false,"multi":false,"operation":"store","x":720,"y":780,"wires":[]}]