Docker/data/nodered/flows.json
[{"id":"987799c4.86e45","type":"tab","label":"From http -> MQTT","disabled":false,"info":""},{"id":"ccd5d09f.f9b77","type":"tab","label":"MQTT -> Mongo","disabled":false,"info":"This flow read CarPosition from MQTT brocker \nand store it on MongoDB "},{"id":"14a23a54.00627e","type":"tab","label":"Simulate Message","disabled":false,"info":"This flow has the role of simulating messages Mobile -> MQTT Broker"},{"id":"a1bf5f04.a70c3","type":"tab","label":"Find Position DB","disabled":false,"info":"This flow has the role to find 2D point position in mongoDB database\n"},{"id":"b801874a.9114d8","type":"tab","label":"Business logic","disabled":false,"info":""},{"id":"bb5d6ee0.cda8b8","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"507faa0d.1e3f3c","type":"mqtt-broker","z":"","name":"LocalMosquitto","broker":"192.168.56.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ecaeb367.2b9f6","type":"mongodb","z":"","hostname":"192.168.56.101","port":"27017","db":"CARS_DATA","name":""},{"id":"5f7fd992.481a88","type":"debug","z":"ccd5d09f.f9b77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":200,"wires":[]},{"id":"71648bbd.f07f5c","type":"mqtt in","z":"ccd5d09f.f9b77","name":"car-locations","topic":"carLocations","qos":"2","broker":"507faa0d.1e3f3c","x":90,"y":80,"wires":[["facef5c2.a65838"]]},{"id":"a77d462f.dc5588","type":"mongodb out","z":"ccd5d09f.f9b77","mongodb":"ecaeb367.2b9f6","name":"","collection":"cars","payonly":true,"upsert":false,"multi":false,"operation":"store","x":620,"y":80,"wires":[]},{"id":"facef5c2.a65838","type":"function","z":"ccd5d09f.f9b77","name":"addCurrentTime","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.readTime = Date.now();\nmsg.payload.processed = false;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["a77d462f.dc5588","5f7fd992.481a88"]]},{"id":"5761bf44.8e421","type":"mqtt out","z":"14a23a54.00627e","name":"","topic":"carLocations","qos":"","retain":"","broker":"507faa0d.1e3f3c","x":610,"y":100,"wires":[]},{"id":"8efbc454.0b3e","type":"inject","z":"14a23a54.00627e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["58154746.4d2b08"]]},{"id":"46ae099c.267b5","type":"catch","z":"ccd5d09f.f9b77","name":"","scope":null,"x":480,"y":300,"wires":[["ebbdf39f.a299f8"]]},{"id":"ebbdf39f.a299f8","type":"debug","z":"ccd5d09f.f9b77","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":690,"y":300,"wires":[]},{"id":"58154746.4d2b08","type":"template","z":"14a23a54.00627e","name":"MakeReportObject","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"reportTime\" : \"{{payload}}\",\n  \"carRegistration\":\"AABB333\",\n  \"carPosition\" :{\n    \"latitude\" : \"45.1666700\",\n    \"longitude\" : \"5.7166700\"\n  },\n  \"engineStopped\" : true\n}","output":"json","x":350,"y":100,"wires":[["5761bf44.8e421"]]},{"id":"ba1063b4.3bafe","type":"inject","z":"a1bf5f04.a70c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["e2eb38e9.75cae"]]},{"id":"136360b3.06504f","type":"mongodb in","z":"a1bf5f04.a70c3","mongodb":"ecaeb367.2b9f6","name":"Check location in DB","collection":"parkings","operation":"find","x":560,"y":60,"wires":[["820b46be.9a70e"]]},{"id":"820b46be.9a70e","type":"debug","z":"a1bf5f04.a70c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":140,"wires":[]},{"id":"e2eb38e9.75cae","type":"template","z":"a1bf5f04.a70c3","name":"Add Query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  location: {\n     $geoIntersects: {\n        $geometry: {\n           type: \"Point\" ,\n           coordinates: [ -80.6621206126055, 35.042875219905184]\n        }\n     }\n  }\n})","output":"str","x":330,"y":60,"wires":[["136360b3.06504f"]]},{"id":"e7074776.590218","type":"http in","z":"987799c4.86e45","name":"acceptOBDData","url":"obd","method":"post","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["c06b567e.1c8038","5a3c9c90.aa134c","4e6d7853.96cc5"]]},{"id":"c06b567e.1c8038","type":"debug","z":"987799c4.86e45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":100,"wires":[]},{"id":"bef1c2ab.37a798","type":"http response","z":"987799c4.86e45","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"5a3c9c90.aa134c","type":"template","z":"987799c4.86e45","name":"Forge Http response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"status\" : \"OK\"\n}","output":"json","x":460,"y":160,"wires":[["bef1c2ab.37a798"]]},{"id":"4e6d7853.96cc5","type":"mqtt out","z":"987799c4.86e45","name":"","topic":"carLocations","qos":"","retain":"","broker":"507faa0d.1e3f3c","x":430,"y":220,"wires":[]},{"id":"823877c2.699778","type":"template","z":"b801874a.9114d8","name":"findCarsToProcessQuery","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n  {\n    \"$match\": {\n      \"$expr\": {\n        \"$not\": {\n          \"$eq\": [\n            \"$readings.speed\",\n            \"0\"\n          ]\n        }\n      }\n    }\n  },\n  {\n    \"$lookup\": {\n      \"from\": \"cars\",\n      \"let\": {\n        \"carId\": \"$carId\",\n        \"objectId\": \"$_id\",\n        \"readings\": \"$readings\"\n      },\n      \"pipeline\": [\n        {\n          \"$match\": {\n            \"$expr\": {\n              \"$and\": [\n                {\n                  \"$eq\": [\n                    \"$carId\",\n                    \"$$carId\"\n                  ]\n                },\n                {\n                  \"$not\": {\n                    \"$eq\": [\n                      \"$_id\",\n                      \"$$objectId\"\n                    ]\n                  }\n                }\n              ]\n            }\n          }\n        }\n      ],\n      \"as\": \"informationAbout\"\n    }\n  },\n  {\n    \"$match\": {\n      \"informationAbout.0\": {\n        \"$exists\": true\n      }\n    }\n  }\n]","output":"json","x":230,"y":60,"wires":[["db8e3f96.499cb8"]]},{"id":"db8e3f96.499cb8","type":"mongodb in","z":"b801874a.9114d8","mongodb":"ecaeb367.2b9f6","name":"findCarsToProcess","collection":"cars","operation":"aggregate","x":490,"y":60,"wires":[["2bebad3a.61ed4a","61671243.ecca5c"]]},{"id":"2bebad3a.61ed4a","type":"debug","z":"b801874a.9114d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":160,"wires":[]},{"id":"61671243.ecca5c","type":"link out","z":"b801874a.9114d8","name":"","links":[],"x":755,"y":60,"wires":[]},{"id":"3aacdb01.b2f87c","type":"link in","z":"b801874a.9114d8","name":"","links":[],"x":35,"y":60,"wires":[["823877c2.699778"]]}]